@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

@using Exercises.Models;
@model Dictionary<string, Recipe>


    <h2 class="center">Recipes</h2>
    <table class="left">
       
        <tr>
            <th></th>
            <td class="chili"><a href="http://localhost:63387/Recipe/Detail/roasted-chili-broccoli"><img src="~/Content/images/roasted-chili-broccoli.jpg" style="width: 150px"/></a></td>
            <td class="rice"><a href="http://localhost:63387/Recipe/Detail/mexican-rice-pilaf"><img src="~/Content/images/mexican-rice-pilaf.jpg" style="width: 150px;" /></a></td>
            <td class="pasta"><a href="http://localhost:63387/Recipe/Detail/arugula-pasta"><img src="~/Content/images/arugula-pasta.jpg" style="width: 150px;" /></a></td>
        </tr>
        <tr>
            <th class="name">Name</th>
            @foreach(KeyValuePair<string, Recipe> recipe in Model)
            {
                <td class="recipe">@recipe.Value.Name </td>
            }
        </tr>
        <tr>
            <th class="type">Type</th>
            @foreach(KeyValuePair<string, Recipe> rType in Model)
            {
                <td class="type">@rType.Value.RecipeType</td>
            }
        </tr>
        <tr>
            <th>Cook Time</th>
            @foreach(KeyValuePair<string, Recipe> cTime in Model)
            {
                <td class="cook">@cTime.Value.CookTimeInMinutes min.</td>
            }
        </tr>
        <tr>
            <th class="ingred">Ingredients</th>
            @foreach(KeyValuePair<string, Recipe> ingredients in Model)
            {
                <td class="ingred">@ingredients.Value.Ingredients.Count ingredients</td>
            }
        </tr>
        <tr>
            <th>Rating</th>
            <td class="rating"><img src="~/Content/images/3-star.png" style="width: 100px;" /></td=">
            <td class="rating"><img src="~/Content/images/4-star.png" style="width: 100px;" /></td>
            <td class="rating"><img src="~/Content/images/2-star.png" style="width: 100px;" /></td>
        </tr>
    </table>
      
