@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<br />
<p col-sm-6>
    Recruiters were refusing to look at my code or pass my resume on due to lack of experience so I made this website to prove I am talented enough to work
    in a junior level position.
</p>

<p col-sm-6>My name is Corey Larkin and I created this entire website to prove I am capable of performing any task needed for an entry/ junior level development position. You should hire me</p>
<br />
<p>This is my resume.</p>
<br />
<a href="https://www.linkedin.com/in/corey-larkin-425860133/"><strong>LinkedIn Profile</strong></a>
<br />
<a href="https://github.com/coreylarkin12/Ares"><strong>GitHub Page</strong></a>
