@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<br />
<p col-sm-6>
    Recruiters were refusing to look at my code or pass my resume on due to lack of experience so I made this website to prove I am talented enough to work
    in a junior level position.
</p>

<p col-sm-6>My name is Corey Larkin and I created this entire website to prove I am capable of performing any task needed for an entry/ junior level development position. You should hire me</p>
<br />
<p>This is my resume.</p>
<br />
<a href="https://www.linkedin.com/in/corey-larkin-425860133/"><strong>LinkedIn Profile</strong></a>
<br />
<a href="https://github.com/coreylarkin12/Ares"><strong>GitHub Page</strong></a>
<br />
<div>
    <h4>About me and my interests</h4>
    <ol>
        <li>25 years old</li>
        <li>I will be getting married on Nov. 5th, 2017</li>
        <li>Love Star Wars</li>
        <li>Love sports. Hockeye and football, Huge Buckeye and Bluejackets Fan</li>
        <li>I am confident and highly motivated</li>
        <li>I love criticism on any work I do, I feel it is the only way for me to learn and improve as both a person and a programmer</li>
        <li>I am very passionate about programming and strive to be a great programmer</li>
        <li>My top 5 strengths based off the Strength Finder test are the following</li>
        <li><strong>Restorative, Deliberative, Command, Analytical, Significance</strong></li>
        <li>I am a fast learner and catch on quickly and love to learn anyway possible.</li>
        <li>I only ask for the chance to demonstrate my talents and be an asset to a company</li>
    </ol>

    <p>I had planned to require a email verification and external logins through social media on this website. I was going to use send grid for the verification but they would not grant me an account until the website was live and they could view it. So those will be future updates once I have access to sendgrid.</p>
    <br />
    <p>I also planned to have a live chat using SignalR. However I found out signalR is not yet compatible with .NET Core</p>

</div>
