@{
    ViewData["Title"] = "Food Fox";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p col-sm-6>
    For my capstone I was required to create a meal planning website that allowed the user to do the following:
    <ol>
        <li>Allow the user to sign up and login.</li>
        <li>Provide client side and server side validation on the sign up and login forms</li>
        <li>Create a database that kept each users information separate.</li>
        <li>Allow the user to view all recipes created by other users</li>
        <li>Allow the user to view recipe details and after logging in add recipes to their personal library</li>
        <li>Allow the user to make changes to recipe details (ingredients, prep steps, description etc.) without it changing the recipe in the all recipes library.</li>
        <li>Allow user to delete a recipe from their library</li>
        <li>Allow user to create a meal plan</li>
        <li>Allow user to view and edit meal plans created</li>
        <li>Allow user to print off a grocery list of all ingredients and amounts needed for each meal plan</li>
    </ol>
</p>
<br />
<br />
<p>
    <img src="~/images/FoodFoxHome.jpg" class="img-responsive" /><img src="~/images/FFSignUp.jpg" class="img-responsive" /><img src="~/images/FFLogin.jpg" class="img-responsive" />
    <img src="~/images/FFValidation.jpg" class="img-responsive" />
</p>

<a href="https://www.linkedin.com/in/corey-larkin-425860133/"><strong>LinkedIn Profile</strong></a>
<br />
<a href="https://github.com/coreylarkin12/Ares"><strong>GitHub Page</strong></a>
