@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<br />
<div>
    <p>
        Below is my contact information for anyone who would like to schedule an interview or would like to inquire about
        having a website created. If you have any comments or questions please fill out the form below and submit it.
    </p>
</div>
<br />
<address>
    <strong>Support: </strong><strong style="color:darkblue">ares.larkin@gmail.com</strong><br />
</address>
<br />
<br />

<a href="https://www.linkedin.com/in/corey-larkin-425860133/"><strong>LinkedIn Profile</strong></a>
<br />
<a href="https://github.com/coreylarkin12/Ares"><strong>GitHub Page</strong></a>
