@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<br />

<address>
    Corey Larkin<br />
    <abbr title="Phone">P:</abbr>
    614.917.7317
</address>

<address>
    <strong>Support:</strong> <a href="mailto:clarkin17@gmail.com">Developer Email</a><br />
</address>
