@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>

<style>
    body, html {
        height: 100%;
    }

    .overflow {
        max-height: 500px;
        overflow-y: scroll;
    }

    .bg {
        /* The image used */
        background-image: url("../images/barnWood.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>

<script type="text/javascript">

    function UserAction() {
        $.get("http://localhost:58148/api/currenttime").done(function (data) {
            $('#clientIp').html(data.ClientIp);
            $('#currentTimeQueryId').html(data.CurrentTimeQueryId);
            $('#time').html(data.Time);
            $('#utcTime').html(data.UTCTime);

            var row = '<tr> <td>' + data.ClientIp + '</td> <td> ' + data.CurrentTimeQueryId + ' </td><td>' + data.Time + '</td><td>' + data.UTCTime + '</td></tr>'
            $(row).insertAfter("#getAllTable tr:first")
        });
    }

    function formatItem(item) {
        return '<td>' + item.ClientIp + '</td> <td> ' + item.CurrentTimeQueryId + ' </td><td>' + item.Time + '</td><td>' + item.UTCTime + '</td>';
    }

    function GetAll() {
        $.get("http://localhost:58148/api/getall").done(function (data) {
            $.each(data, function (key, item) {
                $('<tr>', { html: formatItem(item) }).appendTo($("#getAllTable"));
                $('#show').attr("disabled", true)
            })
        });

    }
</script>

<body class="bg container">
    <br />
    <br />
    <div class="container">
        <div class="col-md-3 margin-button">
            <a href="/Home/AllEntries" class="btn btn-lg btn-block btn-success">All Entries</a>
            <br />
        </div>
        <div class="col-md-3 margin-button">
            <a href="/Home/SelectTimeZone" class="btn btn-lg btn-block btn-success">Select Time Zone</a>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="panel panel-primary">
            <div data-toggle="collapse" data-target="#clockworkBody" class="panel-heading clickable">
                <span>Clockwork Project - Get Current Time</span>
            </div>
            <div class="panel-body collapse in table-responsive" id="clockworkBody">
                <table class="table table-hover col-md-12">
                    <thead>
                        <tr>
                            <th>Client IP</th>
                            <th>Current Time Query Id</th>
                            <th>Time</th>
                            <th>UTC Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="clientIp"></td>
                            <td id="currentTimeQueryId"></td>
                            <td id="time"></td>
                            <td id="utcTime"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <button id="reload" class="btn btn-success" type="button" onclick="UserAction()">Get the time</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-primary">
            <div data-toggle="collapse" data-target="#getAllBody" class="panel-heading align-content-center clickable">
                <span>Clockwork - All Entries (Click Me)</span>
            </div>
            <div class="panel-body collapse" id="getAllBody">
                <div class="row">
                    <div class="col-md-12">
                        <button id="show" class="btn btn-success pull-right align-content-center" type="button" onclick="GetAll()">Load All Entries</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="overflow col-md-12">
                        <table id="getAllTable" class="table table-striped table-hover col-md-12">
                            <thead>
                                <tr>
                                    <th>Client IP</th>
                                    <th>Current Time Query Id</th>
                                    <th>Time</th>
                                    <th>UTC Time</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <p style="color:white">
        <strong>I put a couple different options here. I could either put everything here
            or I could add these buttons and seperate each into its own page and add the breadcrumbs I did a couple
            options just to show different possibilities. If I wasn't so busy at work currently I would have used DataTables instead for 
            a more intuitive and modern design which offers more functionality. I also would have added Selenium for functional testing of
            the website and its features. I am only posting this early so I don't lose out on any open position but would be glad to finish this
            completely. We just had some maor updates to Epi Server which broke a lot of stuff and I have not been able to giv this my full attention.</strong></p>
        <br />
        <p style="color:white">
        <strong>****Note**** On a monitor larger than laptop screens the background image fits perfectly however on laptop screens when data is loaded for all 
                             entries there will be a white space at the bottom because of the footer and I tried to balance design and functionality but had to make due with 
                             the time I had avaliable. Thank you for the opportunity</strong></p>
    </div>
</body>
