
@{
    ViewData["Title"] = "SelectTimeZone";
}

<br />
<br />
<script type="text/javascript">

    function UserAction() {
        $.get("http://localhost:58148/api/selecttimezone").done(function (data) {
            $.each(data, function (i, item) {
                $('#mySelect').append($('<option>', {
                    value: item.BaseUtcOffset,
                    text: item.DisplayName
                }));
            });
        });
    }

    function ConvertTime() {
        var selectedTimeZone = $('#mySelect').find(":selected").val();
        var name = $('#mySelect').find(":selected").text();

        selectedTimeZone.toString();

        $('#converted').append('<li>  ' + selectedTimeZone + '  ---  ' + name + '</li>')
    }

</script>

<ol class="breadcrumb" style="background:none;">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Select Time Zone</li>
</ol>

<div class="container">

    <button class="btn btn-success" type="button" onclick="ConvertTime()">Get the time</button>

    <div class="col-md-4">
        <select onclick="UserAction()" id="mySelect" class="form-control"></select>
        <br />
        <br />
        <ol style="list-style:decimal" id="converted"></ol>
    </div>
</div>