
@{
    ViewData["Title"] = "SelectTimeZone";
}
<script src="~/js/SelectTimeZone.js"></script>
<br />
<br />

<ol class="breadcrumb" style="background:none;">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Select Time Zone</li>
</ol>

<div class="container">

    <button class="btn btn-success" type="button" onclick="ConvertTime()">Get the time</button>

    <div class="col-md-4">
        <select onclick="UserAction()" id="mySelect" class="form-control"></select>
        <br />
        <br />
        <ol style="list-style:decimal" id="converted"></ol>
    </div>
</div>