
@{
    ViewData["Title"] = "Mentorship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>
        This page contains a database that pulls all the information on myself and my mentor when you click the buttons below.
    </p>
</div>
<br />
<br />
<div>
    <button type="button" class="btn btn-default">Corey Larkin</button>
    <button type="button" class="btn btn-default">Mentor</button>
</div>
<br />
<div>
    @foreach ()
    {


    }
</div>