@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Controller Day 1</title>
    <link rel="StyleSheet" href="~/StyleSheet.css">
</head>

<body>
    <header>
    </header>
    <nav>

    </nav>

    @RenderBody()

</body>
</html>